* {
font-family:monospace;
text-align: center;
font-size: 1.2rem;
}

body {
    box-sizing: border-box;
}

h

#header {
    border: 1.5px solid black;
}

.answer-right {
    background-color: green;
}

.answer-wrong {
    background-color: red;
}

